<div class="all">
  <div class="items-list">
    <div class="order-item" *ngFor="let item of itemListCommande">
      <img id="cover-image" src="{{ item.urlImage }}" />
      <div id="informations">
        <div id="titre">{{ item.titre }}</div>
        <div id="auteur">{{ item.auteur }}</div>
      </div>
      <div class="qte">
        {{ item.qte }}
      </div>
      <div class="price">
        {{ item.prix }}
      </div>
    </div>
  </div>

  <div class="bandeau-total">
    <div id="total">Total : {{ prixTotal }}€ TTC</div>
    <div id="button-area">
      <button id="order-button" (click)="loadVerifPage()">Hello fwend</button>
    </div>
  </div>

  <!--
  <div class="bandeau-total">
    <div id="total">Total : {{ prixTotal }}€ TTC</div>
    <div id="commande-button-area">
      <button>Commander</button>
    </div>
  </div>
  -->
</div>
