//==== Containers =====
.all {
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 0.2fr;
  grid-template-areas: 'items-list' 'bandeau-total';
}

.items-list {
  width: 100%;
  height: 100%;
  background-color: coral;
  grid-area: 'items-list';
  overflow: scroll;
}

/*
.bandeau-total {
  width: 100%;
  height: 16,4vh;
  display: grid;
  grid-area: 'bandeau-total';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-template-areas: 
  'total' 'commande-button-area';
}
*/

.bandeau-total {
  background-color: lightgrey;
  border: solid 0.1em;
  border-color: black;
  width: 100%;
  height: 16, 4vh;
}

// === Contenu commande ===
.order-item {
  width: calc(100% - 20pt);
  height: 25, 6vh;
  background-color: lightcoral;
  padding: 5pt 5pt 5pt 5pt;
  margin: 10pt 10pt 0pt 10pt;

  display: grid;
  grid-template-columns: 0.15fr 0.45fr 0.2fr 0.2fr;
  grid-template-rows: 1fr;
  grid-area: 'order-item';

  grid-template-areas: 'cover-image' 'informations' 'qte' 'price';
}

#cover-image {
  height: 170pt;
  grid-area: 'order-item';
}

#informations {
  grid-area: 'informations';
  #titre {
    font-size: 25pt;
  }

  #auteur {
    font-size: 20pt;
  }
}

// === contenu bandeau ===

#total {
  margin: 0 0 0 0;
  display: inline-block;
  text-align: center;
  width: calc(50% - 0.1em);
  height: 16, 4vh;
  background-color: lightblue;

  font-size: 36pt;
  font-weight: bold;

  grid-area: total;
}

#commande-button-area {
  //padding-top: 10vh;
  margin: 0 0 0 0;
  display: inline-block;
  width: calc(50% - 0.1em);
  height: 16, 4vh;
  background-color: lightseagreen;
  text-align: center;

  grid-area: commande-button-area;
}

#order-button {
  display: block;
  width: 25wh;
  margin: 0 auto;
}
