<div class="page-recherche">
  <div class="resultats-area">
    <div class="result-title">{{ titlePage }}</div>

    <div class="liste-resultats">
      <div class="carte-resultat" *ngFor="let item of livrePage" (click)="gotoLivre(item.id)">
        <img id="card-cover" src="https://storage.googleapis.com/bucketdranse/pictures/ {{ item.urlImage }}" />
        <div id="informations">
          <div id="card-title">{{ item.titre }}</div>
          <div id="card-author">{{ item.auteur }}</div>
        </div>
        <div id="card-price">{{ item.prix }}€</div>
      </div>
    </div>
  </div>
</div>
