$card-color: lightblue;
$hover-border-color: rgb(245, 205, 130);

.page-recherche {
  height: 90vh;
  width: 100%;
}

.resultats-area {
  height: 90vh;
  width: 100%;
  background-color: whitesmoke;
  display: grid;
  grid-template-rows: 60pt calc(100% - 60pt);
}

.result-title {
  padding-left: 10pt;
  padding-top: 5pt;
  font-size: 20pt;
}

.liste-resultats {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.carte-resultat {
  height: 200pt;
  width: calc(100% - 20pt);
  border-radius: 25pt;

  border: solid black 0.1em;

  min-width: 600pt;
  background-color: $card-color;
  margin-top: 10pt;
  margin-left: 10pt;
  margin-right: 10pt;
  margin-bottom: none;

  display: grid;
  grid-template-columns: 200pt calc((100% - 200pt) * 0.6) calc((100% - 200pt) * 0.4);

  #image-container {
    height: 250pt;
    width: 200pt;
    display: -webkit-flex;
    justify-items: left;
  }

  #card-cover {
    margin-left: 25pt;
    height: 100%;
    object-fit: cover;
  }

  #informations {
    height: 100%;
    width: 100%;
    display: list-item block;
    //grid-template-rows: 60% 40%;

    #card-title {
      font-size: 20pt;
      font-weight: bold;
    }

    #card-author {
      font-size: 16pt;
    }
  }

  #card-price {
    display: -webkit-flex;
    font-size: 20pt;
    justify-content: left;
    justify-items: left;
    margin: auto;
  }
}

.carte-resultat:hover {
  border: solid $hover-border-color 0.1em;
  cursor: pointer;
}
