<div class="welcomePage">
  <div id="topSection">
    <p id="topTitle">Best Sellers</p>
    <div id="bestSellers">
      <div class="bookCard" id="bookCard1">
        <div id="bookImage">
          <img
            id="coverTest"
            src="https://kbimages1-a.akamaihd.net/93affabc-5161-421e-80d5-4477a07b8cee/353/569/90/False/harry-potter-and-the-philosopher-s-stone-3.jpg"
          />
        </div>
        <div id="bookTitle">Harry Potter</div>
        <div id="bookAuthor">Nicolas Sarkozy</div>
        <div id="bookPrice">20€</div>
      </div>

      <div class="bookCard" id="bookCard1">
        <div id="bookImage">
          <img
            id="coverTest"
            src="https://kbimages1-a.akamaihd.net/93affabc-5161-421e-80d5-4477a07b8cee/353/569/90/False/harry-potter-and-the-philosopher-s-stone-3.jpg"
          />
        </div>
        <div id="bookTitle">Harry Potter</div>
        <div id="bookAuthor">Nicolas Sarkozy</div>
        <div id="bookPrice">20€</div>
      </div>

      <div class="bookCard" id="bookCard1">
        <div id="bookImage">
          <img
            id="coverTest"
            src="https://kbimages1-a.akamaihd.net/93affabc-5161-421e-80d5-4477a07b8cee/353/569/90/False/harry-potter-and-the-philosopher-s-stone-3.jpg"
          />
        </div>
        <div id="bookTitle">Harry Potter</div>
        <div id="bookAuthor">Nicolas Sarkozy</div>
        <div id="bookPrice">20€</div>
      </div>

      <div class="bookCard" id="bookCard1">
        <div id="bookImage">
          <img
            id="coverTest"
            src="https://kbimages1-a.akamaihd.net/93affabc-5161-421e-80d5-4477a07b8cee/353/569/90/False/harry-potter-and-the-philosopher-s-stone-3.jpg"
          />
        </div>
        <div id="bookTitle">Harry Potter</div>
        <div id="bookAuthor">Nicolas Sarkozy</div>
        <div id="bookPrice">20€</div>
      </div>

      <div class="bookCard" id="bookCard1">
        <div id="bookImage">
          <img
            id="coverTest"
            src="https://kbimages1-a.akamaihd.net/93affabc-5161-421e-80d5-4477a07b8cee/353/569/90/False/harry-potter-and-the-philosopher-s-stone-3.jpg"
          />
        </div>
        <div id="bookTitle">Harry Potter</div>
        <div id="bookAuthor">Nicolas Sarkozy</div>
        <div id="bookPrice">20€</div>
      </div>
    </div>
  </div>

  <div id="bottomSection">
    <p id="botTitle">Catégories</p>
    <div id="categories">
      <div class="catCard" id="catCard1">Catégorie 1</div>
      <div class="catCard" id="catCard2">Catégorie 2</div>
      <div class="catCard" id="catCard3">Catégorie 3</div>
      <div class="catCard" id="catCard4">Catégorie 4</div>
      <div class="catCard" id="catCard5">Catégorie 5</div>
      <div class="catCard" id="catCard6">Catégorie 6</div>
      <div class="catCard" id="catCard1">Catégorie A</div>
      <div class="catCard" id="catCard2">Catégorie B</div>
      <div class="catCard" id="catCard3">Catégorie C</div>
      <div class="catCard" id="catCard4">Catégorie D</div>
      <div class="catCard" id="catCard5">Catégorie E</div>
      <div class="catCard" id="catCard6">Catégorie F</div>
    </div>
  </div>
</div>
