$main-color: #add8e6;
$accent-color: #f1f2de;

$theme-white: #edf2f3;
$theme-light-blue: #afd8f2;
$theme-dark-blue: #5289b5;

// ==== Gestion des cartes ======
.bookCard {
  display: grid;
  background-color: whitesmoke;
  border: solid black 0.1em;
  min-width: 220px;
  min-height: 300pt;
  height: 37vh;
  border-radius: 15pt;
  grid-template-columns: 1fr;
  grid-template-rows: 60fr 36fr 12fr;
  grid-template-areas: 'bookImage' 'bookInfo' 'bookPrice';
}

.bookCard:hover {
  //border: solid lightblue 0.1em;
  border: solid rgb(245, 205, 130) 0.1em;
  cursor: pointer;
}

#bookImage {
  height: 170pt;

  display: -webkit-flex;
  justify-content: center;
  vertical-align: middle;
  padding-top: 10pt;
  padding-bottom: 10pt;

  grid-area: bookImage;
  text-align: center;
}

#coverTest {
  height: 150pt;
}


#bookInfo {
  font-size: 13pt;
  font-weight: bold;
  //max-height: 15%;
  vertical-align: middle;
  height: 100%;
  max-height: 100%;
  grid-area: bookInfo;
  padding-left: 7px;
  overflow-y: hidden;
  color: black;

}

/*#bookTitle {
  font-size: 16pt;
  font-weight: bold;
  //max-height: 15%;
  vertical-align: middle;
  height: 100%;
  max-height: 100%;
  grid-area: bookTitle;
  padding-left: 7px;
  overflow-y: hidden;
  color: black;
}

#bookAuthor {
  font-size: 14pt;
  max-height: 10%;
  vertical-align: middle;
  padding-left: 7px;
  height: 100%;
  max-height: 100%;
  grid-area: bookAuthor;
}*/

#bookPrice {
  text-align: right;
  font-weight: bold;
  font-size: 32px;
  max-height: 15%;
  vertical-align: middle;
  padding-left: 7px;
  height: 100%;
  max-height: 100%;
  grid-area: bookPrice;
  margin-left: 10pt;
    margin-right: 10pt;
}

.catCard {
  display: table;
  width: 180px;
  height: 180px;
  //background-color: #dddddd;
  background-color: $theme-white;

  border-radius: 50%;
  border: solid black 0.1em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  #catName {
    display: table-cell;
    vertical-align: middle;
    word-wrap: normal;
    font-size: 17pt;
    font-weight: bold;
    color: $theme-dark-blue;
  }
}

.catCard:hover {
  cursor: pointer;
  //border: solid lightblue 0.1em;
  border: solid rgb(245, 205, 130) 0.1em;
}

// ==== Style des grandes sections =====
// ==== Page d'acceuil =====
.welcomePage {
  padding-top: 10pt;
  padding-bottom: 10pt;

  display: grid;
  height: 100vh;
  min-height: 1000px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas: 'topSection' 'bottomSection';
  grid-gap: 0.2rem;
  background-color: transparent;
  //color: $theme-light-blue;
}

// ==== top section ====
#topSection {
  background-color: $theme-dark-blue;
  grid-area: topSection;
  border: solid black 0.1em;
  display: grid;
  height: 50vh;
  min-height: 400pt;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.8fr;
  grid-gap: 0.2rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  grid-template-areas: 'topTitle' 'bestSellers';
}

#bestSellers {
  //background-color: $accent-color;
  grid-area: bestSellers;
  //border: solid black 0.1em;
  display: grid;
  height: 100%;
  min-height: 350pt;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-rows: 1fr;
  grid-gap: 0.4rem;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;

  margin-bottom: 10pt;

  overflow-x: scroll;
  grid-template-areas: 'bookCard1 bookCard2 bookCard3 bookCard4 bookCard5';
}

#topTitle {
  grid-area: topTitle;
  font-size: 48px;
  font-weight: bold;
  color: $theme-white;
  margin-bottom: 10px;
  padding: 10px 0px 0px 10px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

// ==== bottom section =====
#bottomSection {
  background-color: $theme-dark-blue;
  grid-area: bottomSection;
  border: solid black 0.1em;
  display: grid;
  height: 51vh;
  min-height: 530px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.8fr;
  grid-gap: 0.2rem;

  margin-top: 10pt;

  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  grid-template-areas: 'botTitle' 'categories';
}

#categories {
  //background-color: $accent-color;
  height: 40vh;
  min-height: 400px;
  grid-area: categories;
  //border: solid black 0.1em;
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-rows: 0.5fr 0.5;
  grid-gap: 0.2rem;
  padding: 5px 5px 5px 5px;
  overflow-x: scroll;
  overflow-y: visible;
}

#botTitle {
  grid-area: botTitle;
  font-size: 48px;
  font-weight: bold;
  color: $theme-white;
  margin-bottom: 10px;
  padding: 10px 0px 0px 10px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

img {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  display: inline-block;
  object-fit: cover;
}
.notbold{
    font-weight:normal
}
