<script src="path/to/dayjs/plugin/advancedFormat"></script>
<!-- Load plugin as window.dayjs_plugin_NAME -->
<script>
  dayjs.extend(window.dayjs_plugin_advancedFormat)
</script>

<div class="all">
    <div class="order" *ngFor="let item of historique">
      <div id="informations">

        <div id="commandNum"><strong>Commande n°</strong>: {{ item.id }}</div>
        <div id="commandDate"><strong>Date</strong> :{{ displayDate(item.date) }}<br><br></div>
        <div class="total-info">

          <div class="infoLivraison"><strong>Info de Livraison:</strong>
          <div id="nomLivraison"><strong>Nom</strong> : {{ item.nomLivraison }}alls</div>
          <div id="realInfoLivraison"><strong>Addresse</strong> : {{ item.rueLivraison }}, {{ item.villeLivraison }} <br>
            {{ item.codePostalLivraison }}, {{ item.paysLivraison }}</div>
          </div>
          <div class="infoFacturation"><strong>Info de Facturation:</strong>
          <div id="nomFacturation"><strong>Nom</strong> : {{ item.nomFacturation }}</div>
          <div id="realInfoFacturation"><strong>Addresse</strong> : {{ item.rueFacturation }}, {{ item.villeFacturation }} <br>
            {{ item.codePostalFacturation }}, {{ item.paysFacturation }}</div>
          </div>
        </div>
        <div class="order-item" *ngFor="let ligne of item.ligneCommandes" (click)="gotoItem(ligne.livre.id)">
          <div id="pic">
            <img id="cover-image" src="https://storage.googleapis.com/bucketdranse/pictures/ {{ ligne.livre.urlImage }}" class = "ImageBorder"  />
          </div>

          <div id = "info-ligne">
            <div id="titre"><strong>Titre</strong> : {{ ligne.livre.titre }} </div>
            <div id="auteur"><strong>Auteur</strong> : {{ ligne.livre.auteur }} </div>
            <div id="quantite"><strong>Quantité</strong> : {{ ligne.quantite }} </div>
          </div>


        </div>
      </div>
    </div>
</div>
