<div>
  <h2 id="page-heading" data-cy="CommandeHeading">
    <span jhiTranslate="projetDranseApp.commande.home.title">Commandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetDranseApp.commande.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-commande"
        [routerLink]="['/commande/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="projetDranseApp.commande.home.createLabel"> Create a new Commande </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'projetDranseApp.commande.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="commandes?.length === 0">
    <span jhiTranslate="projetDranseApp.commande.home.notFound">No commandes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="commandes && commandes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="projetDranseApp.commande.dateCreation">Date de création</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="projetDranseApp.commande.dateModification">Date de dernière modification</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paysLivraison">
            <span jhiTranslate="projetDranseApp.commande.paysLivraison">Pays Livraison</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="codePostalLivraison">
            <span jhiTranslate="projetDranseApp.commande.codePostalLivraison">Code Postal Livraison</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="villeLivraison">
            <span jhiTranslate="projetDranseApp.commande.villeLivraison">Ville Livraison</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rueLivraison">
            <span jhiTranslate="projetDranseApp.commande.rueLivraison">Rue Livraison</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomLivraison">
            <span jhiTranslate="projetDranseApp.commande.nomLivraison">Nom Livraison</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paysFacturation">
            <span jhiTranslate="projetDranseApp.commande.paysFacturation">Pays Facturation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="codePostalFacturation">
            <span jhiTranslate="projetDranseApp.commande.codePostalFacturation">Code Postal Facturation</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="villeFacturation">
            <span jhiTranslate="projetDranseApp.commande.villeFacturation">Ville Facturation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rueFacturation">
            <span jhiTranslate="projetDranseApp.commande.rueFacturation">Rue Facturation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomFacturation">
            <span jhiTranslate="projetDranseApp.commande.nomFacturation">Nom Facturation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="payee">
            <span jhiTranslate="projetDranseApp.commande.payee">Payee</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="utilisateur.id">
            <span jhiTranslate="projetDranseApp.commande.utilisateur">Utilisateur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commande of commandes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/commande', commande.id, 'view']">{{ commande.id }}</a>
          </td>
          <td>{{ commande.dateCreation | formatMediumDatetime }}</td>
          <td>{{ commande.dateModification | formatMediumDatetime }}</td>
          <td>{{ commande.paysLivraison }}</td>
          <td>{{ commande.codePostalLivraison }}</td>
          <td>{{ commande.villeLivraison }}</td>
          <td>{{ commande.rueLivraison }}</td>
          <td>{{ commande.nomLivraison }}</td>
          <td>{{ commande.paysFacturation }}</td>
          <td>{{ commande.codePostalFacturation }}</td>
          <td>{{ commande.villeFacturation }}</td>
          <td>{{ commande.rueFacturation }}</td>
          <td>{{ commande.nomFacturation }}</td>
          <td>{{ commande.payee }}</td>
          <td>
            <div *ngIf="commande.utilisateur">
              <a [routerLink]="['/utilisateur', commande.utilisateur?.id, 'view']">{{ commande.utilisateur?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/commande', commande.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/commande', commande.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(commande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="commandes && commandes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
