@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$passive-color: #9a9d9f;
$active-color: #cccecf;
$background-color: #383b3c;

/* ==========================================================================
Navbar
========================================================================== */

// panier button----
#panier-button {
  background-color: transparent;
  border: transparent;
  color: $passive-color;
}

#panier-button:hover{
  color: $active-color;
}

//--------------

// badge ------

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #edf2f3;
}
#lblCartCount {
    font-size: 12px;
    background: #3e8acc;
    color: #edf2f3;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

// ---------------------


//test above

.searchBarArea {
  width: 40vw;
  border: solid black 0.1em;
  display: grid;
  grid-template-columns: calc(100% - 30pt) 30pt;

  margin-right: 10pt;
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.searchBar {
  width: 100%;
  height: 100%;
  padding-right: 0;
  min-width: 100pt;
  min-height: 15pt;
}

.searchButton {
  color: $background-color;
  padding-left: 0;
  width: 30pt;
  height: 100%;
  /*
  min-width: 15pt;
  min-height: 15pt;
  */
}

#searchBarIcon {
  font-size: 125%;
}

#nav-item-area {
  display: -webkit-flex;
  justify-content: center;
}

.shopping-button {
  color: $passive-color;
  background-color: transparent;
  border: none;
}

.shopping-button:hover {
  color: $active-color;
}

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.nav-item {
  display: -webkit-flex;
  justify-content: center;
  font-size:200%;
}

.navbar {
  padding: 0.2rem 1rem;

  ul.navbar-nav {
    .nav-item {
      margin-top: 8pt;
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
     margin: -0.5rem -1rem;
  }
}

.nav-item-dropdown {
  margin-top: 50px;
}

/* ==========================================================================
Logo styles
========================================================================== */

//TODO: fix the bar to display full size logo

.logo-img {
  height: 90px;
  width: 170px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo_dranse_v1.png') no-repeat center center;
  background-size: contain;
}

.navbar-brand-logo {
  padding: 0 0 0 0;
  margin-left: 10pt;
}

@media only screen and(max-width: 767px) {
  .searchBarArea {
    width: 90vw;
    height: 30px;
    min-width: none;
    min-height: none;
    max-width: none;

    margin-right: 10pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
    margin-left: 10pt;

    grid-template-columns: calc(100% - 30pt) 30pt;
  }

  .searchBar {
    width: 100%;
    height: 30px;
    margin-right: 0;
  }
}
