<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="livre">
      <h2 data-cy="livreDetailsHeading"><span jhiTranslate="projetDranseApp.livre.detail.title">Livre</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ livre.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetDranseApp.livre.titre">Titre</span></dt>
        <dd>
          <span>{{ livre.titre }}</span>
        </dd>
        <dt><span jhiTranslate="projetDranseApp.livre.auteur">Auteur</span></dt>
        <dd>
          <span>{{ livre.auteur }}</span>
        </dd>
        <dt><span jhiTranslate="projetDranseApp.livre.prix">Prix</span></dt>
        <dd>
          <span>{{ livre.prix }}</span>
        </dd>
        <dt><span jhiTranslate="projetDranseApp.livre.synopsis">Synopsis</span></dt>
        <dd>
          <span>{{ livre.synopsis }}</span>
        </dd>
        <dt><span jhiTranslate="projetDranseApp.livre.edition">Edition</span></dt>
        <dd>
          <span>{{ livre.edition }}</span>
        </dd>
        <dt><span jhiTranslate="projetDranseApp.livre.anneePublication">Annee Publication</span></dt>
        <dd>
          <span>{{ livre.anneePublication }}</span>
        </dd>
        <dt><span jhiTranslate="projetDranseApp.livre.editeur">Editeur</span></dt>
        <dd>
          <span>{{ livre.editeur }}</span>
        </dd>
        <dt><span jhiTranslate="projetDranseApp.livre.stock">Stock</span></dt>
        <dd>
          <span>{{ livre.stock }}</span>
        </dd>
        <dt><span jhiTranslate="projetDranseApp.livre.urlImage">Url Image</span></dt>
        <dd>
          <span>{{ livre.urlImage }}</span>
        </dd>
        <dt><span jhiTranslate="projetDranseApp.livre.livre_cat">Livre Cat</span></dt>
        <dd>
          <span *ngFor="let livre_cat of livre.livre_cats; let last = last">
            <a [routerLink]="['/categorie', livre_cat?.id, 'view']">{{ livre_cat.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/livre', livre.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
