<div class="progression-bar-1"></div>
<div class="form-1">
  <h3 class="livraison">LIVRAISON</h3>
  <form (submit)="submit1()" #profileForm>
    <label> Nom : <input [name]="nomLivraison" [(ngModel)]="nomLivraison" [ngModelOptions]="{ standalone: true }" /> </label>
    <label> Prenom : <input [name]="prenomLivraison" [(ngModel)]="prenomLivraison" [ngModelOptions]="{ standalone: true }" /> </label>
    <br />
    <label> Adresse : <input [name]="adresseLivraison" [(ngModel)]="adresseLivraison" [ngModelOptions]="{ standalone: true }" /> </label>
    <br />
    <label> Ville : <input [name]="villeLivraison" [(ngModel)]="villeLivraison" [ngModelOptions]="{ standalone: true }" /> </label>
    <label> Code Postal : <input [name]="cpLivraison" [(ngModel)]="cpLivraison" [ngModelOptions]="{ standalone: true }" /> </label>
    <br />
    <label> Pays : <input [name]="paysLivraison" [(ngModel)]="paysLivraison" [ngModelOptions]="{ standalone: true }" /> </label>
    <br />
    <button type="submit" [disabled]="!profileForm.checkValidity()">Suivant</button>
  </form>
</div>

<div class="progression-bar-2"></div>
<div class="form-2">
  <h3 class="facturation">FACTURATION</h3>
  <form (submit)="submit2()" #profileForm>
    <label> Nom : <input [name]="nomFacturation" [(ngModel)]="nomFacturation" [ngModelOptions]="{ standalone: true }" /> </label>
    <label> Prenom : <input [name]="prenomFacturation" [(ngModel)]="prenomFacturation" [ngModelOptions]="{ standalone: true }" /> </label>
    <br />
    <label> Société : <input [name]="societe" [(ngModel)]="societe" [ngModelOptions]="{ standalone: true }" /> </label>
    <br />
    <label>
      Adresse : <input [name]="adresseFacturation" [(ngModel)]="adresseFacturation" [ngModelOptions]="{ standalone: true }" />
    </label>
    <br />
    <label> Ville : <input [name]="villeFacturation" [(ngModel)]="villeFacturation" [ngModelOptions]="{ standalone: true }" /> </label>
    <label> Pays : <input [name]="paysFacturation" [(ngModel)]="paysFacturation" [ngModelOptions]="{ standalone: true }" /> </label>
    <br />
    <label> Code Postal : <input [name]="cpFacturation" [(ngModel)]="cpFacturation" [ngModelOptions]="{ standalone: true }" /> </label>
    <br />
    <button type="submit" [disabled]="!profileForm.checkValidity()">Suivant</button>
  </form>
</div>

<div class="progression-bar-3"></div>
<div class="form-3">
  <h3 class="paiement">PAIEMENT</h3>
  <form (submit)="submit3()" #profileForm>
    <label> Numéro CB : <input /> </label>
    <br />
    <label> Date Expiration : <input /> </label>
    <label> Cryptogramme : <input /> </label>
    <br />
    <button type="submit" [disabled]="!profileForm.checkValidity()">Suivant</button>
  </form>
</div>
