<div>
  <h2 id="page-heading" data-cy="AvisHeading">
    <span jhiTranslate="projetDranseApp.avis.home.title">Avis</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetDranseApp.avis.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-avis"
        [routerLink]="['/avis/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="projetDranseApp.avis.home.createLabel"> Create a new Avis </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'projetDranseApp.avis.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="avis?.length === 0">
    <span jhiTranslate="projetDranseApp.avis.home.notFound">No avis found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="avis && avis.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="note"><span jhiTranslate="projetDranseApp.avis.note">Note</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="commentaire">
            <span jhiTranslate="projetDranseApp.avis.commentaire">Commentaire</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="datePublication">
            <span jhiTranslate="projetDranseApp.avis.datePublication">Date Publication</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="affiche">
            <span jhiTranslate="projetDranseApp.avis.affiche">Affiche</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="livre.id">
            <span jhiTranslate="projetDranseApp.avis.livre">Livre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="utilisateur.id">
            <span jhiTranslate="projetDranseApp.avis.utilisateur">Utilisateur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let avis of avis; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/avis', avis.id, 'view']">{{ avis.id }}</a>
          </td>
          <td>{{ avis.note }}</td>
          <td>{{ avis.commentaire }}</td>
          <td>{{ avis.datePublication | formatMediumDatetime }}</td>
          <td>{{ avis.affiche }}</td>
          <td>
            <div *ngIf="avis.livre">
              <a [routerLink]="['/livre', avis.livre?.id, 'view']">{{ avis.livre?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="avis.utilisateur">
              <a [routerLink]="['/utilisateur', avis.utilisateur?.id, 'view']">{{ avis.utilisateur?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/avis', avis.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/avis', avis.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(avis)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="avis && avis.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
