<img
  src="https://storage.googleapis.com/bucketdranse/pictures/ {{ livreInfo.urlImage }}"
  alt="Image de la couverture du livre"
  class="image-livre"
/>
<div class="infos">
  <div class="main-info">
    <p class="titre">{{ livreInfo.titre }}</p>
    <p class="note">Note</p>
    <p class="auteur">{{ livreInfo.auteur }}</p>
  </div>
  <div class="extra-info">
    <div class="categories">
      <b>Catégories</b><br />
      <div class="cat" *ngFor="let categorie of livreInfo.livre_cats">{{ categorie.nom }}</div>
    </div>
    <div class="annee-publication"><b>Annee de publiccation</b><br />{{ livreInfo.anneePublication }}</div>
  </div>
</div>
<div class="prix-button">
  <p class="prix">{{ livreInfo.prix }} &euro;</p>
  <button class="ajout-panier" (click)="ajoutPanier()">Ajouter au panier</button>
</div>
<p class="synopsis">Synopsis :</p>
<div class="synopsis-text">{{ livreInfo.synopsis }}</div>
